.AssetsGallery_Folders ul, .AssetsGallery_Files ul {
	margin-left: 0;
	margin-right: 0;
	padding-left: 0;
	padding-right: 0;
}


.AssetsGallery_Folders li, .AssetsGallery_Files li {
	list-style-type:none; 
	display: inline-block;
	background-color: white;
	border: 1px solid #969696;
	float: left;
	padding: 1em;
	margin: 1em 8px 1em 8px;
	box-shadow: 3px 3px 3px #7F7F7F;
	width: 201px;
	height: 233px;
	overflow: hidden;
  
}

.AssetsGallery_Folders a, .AssetsGallery_Files a {
	text-decoration: none !important;
	color: #001900;
}

/*.AssetsGallery_Folders li {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background-color: #FFE57F;

	border: 1px solid #B1912A;

	background-image: -ms-linear-gradient(bottom, #FFCA4A 0%, #FFFFB3 100%);
	background-image: -moz-linear-gradient(bottom, #FFCA4A 0%, #FFFFB3 100%);
	background-image: -o-linear-gradient(bottom, #FFCA4A 0%, #FFFFB3 100%);
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #FFCA4A), color-stop(1, #FFFFB3));
	background-image: -webkit-linear-gradient(bottom, #FFCA4A 0%, #FFFFB3 100%);

	background-image: linear-gradient(to top, #FFCA4A 0%, #FFFFB3 100%);
}*/

.AssetsGallery_Folders .info {
	font-size: smaller;
}